* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  width: 750px;
  margin: 0 auto;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #535971;
}

fieldset {
  border: none;
}

header {
  width: 350px;
  margin-top: 140px;
  color: #FFFFFF;
}

.hero {
  width: 350px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 48px;
  line-height: 60px;
}

header p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 18px;
}

form {
  margin-top: 58px;
  padding: 64px;
  background-color: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

input {
  margin-top: 8px;
  width: 100%;
  height: 56px;
  background-color: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.namming {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  margin-top: 16px;
  font-family: 'Poppins', sans-serif;
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper input {
  padding: 0 14px;
}

.input-wrapper span {
  font-family: 'Poppins', sans-serif;
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

.event {
  display: flex;
  width: 100%;
  gap: 32px;
}

.event-date {
  display: flex;
  width: 100%;
}

.event-time {
  display: flex;
  width: 100%;
  gap: 10px;
}

.subtitle p {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  line-height: 34px;
  color: #535971;
  margin-bottom: 8px;
}

.send-button {
  background-color: #535971;
  border-radius: 0px 0px 20px 20px;
  height: 160px;
  display: flex;
  margin-bottom: 100px;
}

button {
  display: flex;
  width: 608px;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  border: none;
  background-color: #FF5374;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
}

/* 
#FFFFFF
#FAFAFC
#E5E5E5
#E6E6F0
#C1BCCC
#4E4958
#535971
#FF5374

font-family: 'Staatliches', cursive;
font-family: 'Poppins', sans-serif;
 */
